.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  border: 0.5em solid black;
  user-select: none;
}

.tile {
  display: flex;
  height: calc(100% / 8);
  width: calc(100% / 8);
  position: relative;
  /* border: 1px solid #333; */
}
.tile.white {
  background: rgb(200, 200, 200);
  background: #ddd;
  /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(169, 169, 169, 1) 80%); */
}
.tile.black {
  background: rgb(125, 125, 125);
  background: #333;
  /* background: radial-gradient(circle, rgba(69, 69, 69, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(69, 69, 69, 1) 100%); */
  /* background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(169, 169, 169, 1) 80%); */
}

.position {
  font-size: 1em;
}
.tile.white .position {
  color: #000;
}
.tile.black .position {
  color: #fff;
}

.tile > .tileHighlight {
  height: 100%;
  width: 100%;
  background: rgb(102, 102, 102);
  background: radial-gradient(
    circle,
    rgba(102, 102, 102, 0.3) 0%,
    rgba(221, 221, 221, 0.3) 95%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.validTile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.tileHighlight > .validTileEmpty {
  height: 30%;
  width: 30%;
  background: rgba(50, 169, 50, 0.7);
}
.tileHighlight > .validTileOccupied {
  height: 80%;
  width: 80%;
  border: 4px solid rgba(50, 169, 50, 0.9);
}

.disposed {
  height: 2em;
  width: 100%;
  justify-content: flex-start;
  padding: 0 1em 0 1em;
}

.piece {
  height: 100%;
  width: 100%;
  background-size: contain;
  cursor: grab;
}
.tile .piece {
}
.disposed .piece {
  height: 2em;
  width: 2em;
}
/* .piece.white {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.piece.black {
  text-shadow: -0.5px -0.5px 0px rgba(221, 221, 221, 0.8);
} */

@media all and (orientation: landscape) {
  /* body:after {
     content: "width is greater than height"
  } */
  .board {
    height: 80vh;
    width: 80vh;
  }
}

@media all and (orientation: portrait) {
  /* body:after {
     content: "height is greater than width"
  } */
  .board {
    height: 80vw;
    width: 80vw;
  }
}
