* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-image: url('/images/table-3.jpg');
}

html,
body {
  margin: 0;
  /* background-color: rgb(255, 246, 235); */
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3,
p {
  font-size: 2rem;
} */

i {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

.white form {
  border-bottom-color: #24316f;
}

.blue form {
  border-bottom-color: #fff;
}

.verticalScrollLocked {
  overflow-y: hidden;
}

/* @media only screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3,
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
} */

@media not all and (pointer: coarse) {
  i:hover,
  i:focus {
    transition-duration: 0.5s;
    opacity: 1;
  }
  a:hover,
  a:focus {
    transition-duration: 0.5s;
    opacity: 1;
  }
}
.outline {
  /* border: 0.1px solid #000; */
}
.container {
  position: relative;
  height: 85vh;
  min-width: 99vw;
  margin: auto;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whole {
  height: 100%;
  width: 100%;
}
.column > .seventyFive {
  height: 75%;
  width: 100%;
  margin: auto;
}
.row > .seventyFive {
  height: 100%;
  width: 75%;
  margin: auto;
}
.column > .half {
  height: 50%;
  width: 100%;
  margin: auto;
}
.row > .half {
  height: 100%;
  width: 50%;
  margin: auto;
}
.column > .third {
  height: calc(100% / 3);
  width: 100%;
  margin: auto;
}
.row > .third {
  height: 100%;
  width: calc(100% / 3);
  margin: auto;
}
.column > .quarter {
  height: 25%;
  width: 100%;
  margin: auto;
}
.row > .quarter {
  height: 100%;
  width: 25%;
  margin: auto;
}
.column > .forty {
  height: 40%;
  width: 100%;
  margin: auto;
}
.row > .forty {
  height: 100%;
  width: 40%;
  margin: auto;
}
.column > .thirty {
  height: 30%;
  width: 100%;
  margin: auto;
}
.row > .thirty {
  height: 100%;
  width: 30%;
  margin: auto;
}
.column > .twentyFive {
  height: 25%;
  width: 100%;
  margin: auto;
}
.row > .twentyFive {
  height: 100%;
  width: 25%;
  margin: auto;
}
.column > .twenty {
  height: 20%;
  width: 100%;
  margin: auto;
}
.row > .twenty {
  height: 100%;
  width: 20%;
  margin: auto;
}
.column > .fifteen {
  height: 15%;
  width: 100%;
  margin: auto;
}
.row > .fifteen {
  height: 100%;
  width: 15%;
  margin: auto;
}
.column > .tenth {
  height: 10%;
  width: 100%;
  margin: auto;
}
.row > .tenth {
  height: 100%;
  width: 10%;
  margin: auto;
}
.wrap {
  flex-wrap: wrap;
}
.flexBasisThird {
  flex-basis: calc(100% / 3);
}
.someSpace {
  margin: 1em;
}
.moreSpace {
  margin: 2em;
}
.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
}
.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}
