.layout {
  position: relative;
  width: 100%;
}

.header,
.footer {
  position: relative;
  height: 3rem;
  width: 100%;
  padding: 0.5em;
}

.goBack {
  color: rgba(0, 0, 0, 0.54);
  font-size: 2em;
}
